<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Aitoc\Smtp\Model\ResourceModel\Log\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aitoc_smtp_log</argument>
            <argument name="eventPrefix" xsi:type="string">aitsmtp_log_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">aitsmtp_log_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aitoc\Smtp\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>
</config>
